name: undo_example
description: Demonstrates how to use the undo plugin.
publish_to: 'none'
version: 1.0.0

environment:
  sdk: ">=2.2.2 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^0.1.2

dev_dependencies:
  flutter_test:
    sdk: flutter

  undo:
    path: ../

flutter:
  uses-material-design: true

