name: test

on:
  push:

jobs:
  deploy:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2

      - name: Setup Flutter
        uses: subosito/flutter-action@v1
        with:
          channel: "dev"

      - name: Install
        run: flutter pub get
      - name: Test
        run: flutter test
